<h1><%= "#{@user.display_name}'s Events" %></h1>
<% if @user.hosted_events.none? %>
    <%= "#{@user.display_name} has no hosting plans!" %>
<% else %>
  <% @user.hosted_events.each do |event| %>
    <div><%= event %></div>
  <% end %>
<% end %>