<h1>Heath Meet - Events</h1>

<% if @events.empty? %>
  <%= 'The Heath is asleep...' %>
<% else %>
  <%= render partial: "events/event", collection: @events, locals: {show_join: true} %>
<% end %>

<h4><%= link_to "Create a New Event!", new_event_path %></h4>
