<%= stylesheet_link_tag 'index' %>
<div class="container">
  <h1 class="main-title">Live Events</h1>
  <h4 class="create-event-link"><%= link_to "Create a New Event!", new_event_path %></h4>
  <div class="event-list">
    <% if @events.empty? %>
      <p class="no-events">Nothing is going on right now...</p>
    <% else %>
      <%= render partial: "events/event", collection: @events, locals: {show_join: true} %>
    <% end %>
  </div>
</div>
