/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap');

/* Top Bar Styles */
.top-bar {
  background-color: #333; /* Dark background color */
  color: #fff; /* White text color */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.top-bar-links {
  display: flex;
  gap: 10px;
}

.top-bar-link {
  color: #fff; /* White text color for links */
  text-decoration: none;
  font-weight: bold;
}

.user-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.user-info-label {
  font-weight: bold;
}

.user-info-link {
  color: #1ccbb4; /* A custom color for user links */
  text-decoration: none;
}

.logout-link {
  background-color: #de513b; /* Red background color for logout link */
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
}

/* Error Message Styles */
.error {
  background-color: #de513b; /* Red background color for error messages */
  color: #fff; /* White text color */
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
}

/* Style for Notice Banner */
.notice {
  background-color: #4CAF50; /* Green background color */
  padding: 10px;
  color: white; /* White text color */
  text-align: center; /* Center the text */
}

/* Style for Alert Banner */
.alert {
  background-color: #FF9800; /* Orange background color */
  padding: 10px;
  color: white; /* White text color */
  text-align: center; /* Center the text */
}