/* Event Block Style */
.event-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 250px;
  padding: 20px;
  border-radius: 10px; /* Add rounded corners */
  background-color: #f0f0f0; /* Set a background color */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add a shadow */
  margin: 10px; /* Add some margin for spacing */
}

h3 {
  font-size: 1.3rem;
  text-align: left;
}

h3 a {
  color: #333; /* Dark gray text */
  text-decoration: none;
  transition: transform 0.2s;
}

h3 a:hover {
  transform: translateY(-3px); /* Add a slight upward lift on hover */
}

div em {
  font-style: italic;
  color: #666; /* Slightly lighter gray text */
  text-align: left;
  margin-bottom: 10px;
}

.event-description {
  text-align: left;
}

.button {
  margin-top: 30px;
  display: flex;  
  gap: 10px;
}

/* Join Event Button Style */
div .join-button {
  text-align: center;
}

div .join-button a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #1ccbb4; /* Blue */
  color: #fff; /* White text */
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: transform 0.2s;
}

div .join-button a:hover {
  transform: translateY(-3px); /* Add a slight upward lift on hover */
}

/* Not Going Anymore Button Style */
div .not-going-button {
  text-align: center;
}

div .not-going-button a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #de513b; /* Red */
  color: #fff; /* White text */
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: transform 0.2s;
}

div .not-going-button a:hover {
  transform: translateY(-3px); /* Add a slight upward lift on hover */
}
