/* Default styles for larger screens */
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap');

/* Reset some default styles */
body, h1, h4, p {
  font-family: 'Dosis', sans-serif;
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
}

.profile-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
  padding: 50px;
  font-family: 'Dosis', sans-serif;
}

.profile-title {
  font-size: 2rem;
  margin-bottom: 20px;
}

.edit-profile-link {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: transform 0.2s;
}

.edit-profile-link:hover {
  transform: translateY(-3px);
}

.profile-section {
  margin-top: 20px;
  text-align: left;
  padding-right: 300px;
}

.profile-section-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.event-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.user-info-section {
  align-self: flex-start;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.user-section {
  margin-top: 20px;
  text-align: left;
  margin-right: 200px;
}

.user-section-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

/* Media query for mobile devices */
@media (max-width: 768px) {
  .profile-container {
    flex-direction: column; /* Stack elements vertically for smaller screens */
    justify-content: center;
    align-items: center;
    padding: 20px; /* Reduce padding for better mobile layout */
    padding-bottom: 50px;
    gap: 30px;
  }

  .profile-section {
    padding-right: 0; /* Remove right padding for better mobile layout */
  }

  .user-section {
    margin-right: 0; /* Remove right margin for better mobile layout */
  }

  .edit-profile-link {
    margin-top: 20px; /* Add space between sections on mobile */
  }

  .user-info-section {
    align-self: center;
  }
}
